[Unit]
Description=vkPostman Vk Polling

[Service]
ExecStart=/root/projects/vkPostman/.env/bin/python /root/projects/vkPostman/manage.py start_vk_polling
PIDFile=/var/run/vk_postman_start_vk_polling.pid
